html {
  background-color: #000;
  color: #fff;
  display: flex;
}

.App {
  display: flex;
}

.left-side {
  width: 25vw;
}

.mid-side {
  width: 50vw;
}

.right-side {
  width: 25vw;
  display: flex;
  justify-content: center;
}